*{
    margin: 0;
    padding: 0;
}
.repoter-img{
    width: 50px;
    border-radius: 100%;
}
.repoter-details {
width: 400px;
font-size: 18px;
align-items: center;
}
.reporte-info h5,p {
    margin: 0;
}
.reporte-info {
    margin-left: 15px;
}
.views {
    margin-left: 65px;
    font-size: 20px;
}